#hierarchy
{
    font-family: FontAwesome;
    font-size: 18px;
}
.foldercontainer, .file, .noitems
{
    display: block;
    padding: 5px 5px 5px 50px;
}
.folder
{
    font-size: 18px;
    color: #000000;
}
.file
{
    font-size: 14px;
    color: #474747;
}
.folder, .file
{
    cursor: pointer;
}
.noitems
{
    display: none;
    pointer-events: none;
}
.folder:hover,.file:hover
{
    background: yellow;
}
.folder:before, .file:before
{
    padding-right: 10px;
}